{% extends 'index.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<table border="0" class="profile-table">
	<tr><td>
		<div class="profile-ava"><img src="{{ url_for('userava') }}"></div>
		{% if user.id|string() == current_user.get_id() %}
		<div class="profile-load">
		<form action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">
			<p><input type="file" name="file">
			<p><input type="submit" value="Загрузить">
		</form>
		</div>
		{% endif %}
	</td>
	<td valign="top" class="profile-panel">
		<ul class="profile-info">
		<li>Имя: {{ user.name }}</li>
		<li>Email: {{ user.email }}</li>
		</ul>
		{% if user.id|string() != current_user.get_id() %}
			{% if accepts|length == 2 %}
			<a class="message" href="/dialog?id1={{current_user.get_id()}}&id2={{user.id}}">Написать сообщение</a>
			{% endif %}
			{% if accepts|length == 1%}
				{% if accepts[0].id_user1 == current_user.get_id() %}
					<p>Заявка отправлена</p>
				{% else %}
					<a class="message" href="/accept?id1={{current_user.get_id()}}&id2={{user.id}}">Принять заявку</a>
				{% endif %}
			{% endif %}
			{% if not accepts %}
			<a class="message" href="/accept?id1={{current_user.get_id()}}&id2={{user.id}}">Отправить заявку</a>
			{% endif %}
		{% else %}
		<a class="message" href="/preferences">Выбрать предпочтения</a>
		{% endif %}
	</td>
	<td valign="top" class ="profile-panel">
		<ul class="profile-info">
		<li>Настроение: {{ preferences.mood }}</li>
		<li>Цель общения: {{ preferences.theme }}</li>
		</ul>
	</td>
	</tr>
</table>
<h1>Посты</h1>

<ul class="list-posts">
{% for p in posts %}
<div class ="clearfix">
<a class="delete" href="/delete?id={{p.id}}">Удалить</a>
</div>
<li>
<p class="post">{{ p.content }}</p>
</li>
<div class ="clearfix">
{% set count = namespace(value=0) %}
{% for l in likes if l.post_id == p.id %}
{% set count.value = 1 %}
{% if l.isLike %}
<a class="like" href="/like?id={{p.id}}"><img src="{{url_for('static', filename='images/like.png')}}" width="40"
   height="40" alt="Пример"></a>
{% else %}
<a class="like" href="/like?id={{p.id}}"><img src="{{url_for('static', filename='images/notLike.png')}}" width="40"
   height="40" alt="Пример"></a>
{% endif %}
{% endfor %}
{% if not count.value %}
<a class="like" href="/like?id={{p.id}}"><img src="{{url_for('static', filename='images/notLike.png')}}" width="40"
   height="40" alt="Пример"></a>
{% endif %}
</div>
{% set count.value = 0 %}
{% endfor %}
</ul>



{% if user.id|string() == current_user.get_id() %}
<form action="" method="post">
	<p><b>Введите ваш пост:</b></p>
    <p><textarea rows="10" cols="45" name="text"></textarea></p>
    <p><input type="submit" value="Отправить"></p>
</form>
{% endif %}


{% endblock %}