{% extends 'index.html' %}


{% block content %}
{{ super() }}
<form action="" method="post">
<p><label>Выбор настроения: </label>
<select name="selectMood" size="1">
    <option value="null">...</option>
    <option  value="Грустно">Грустно</option>
    <option  value="Одиноко">Одиноко</option>
    <option  value="Стрессую">Стрессую</option>
    <option  value="В поисках смысла жизни">В поисках смысла жизни</option>
     <option  value="На оптимизме">На оптимизме</option>
</select>
<p><label>Выбор цели общения: </label>
<select name="selectTheme" size="1">
    <option value="null">...</option>
    <option  value="Поговорить по душам">Поговорить по душам</option>
    <option  value="Погрустить вместе">Погрустить вместе</option>
    <option  value="Ищу позитива">Ищу позитива</option>
    <option  value="Хочу найти друзей">Хочу найти друзей</option>
</select>
<p><input type="submit">
</form>

{% if res %}

{% for p in res %}
<a href="/profile/{{p.id}}">{{p.name}}</a>
{% endfor %}
{% endif %}

{% endblock %}